body {
    font-family: 'Raleway', sans-serif;
    background-color: #787878;
    color: #fff;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

input[type=text], input[type=number] {
    padding: 7px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #170e2e;
    border-style: solid;
    border-radius: 0px;
    text-shadow: 0px 0px 2px rgba(66, 66, 66, .75);
    display: block;
    width: calc(100% - 20px);
}

input[type=text]:focus, input[type=number]:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(61, 194, 27, .75);
}

.data-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

#phone-space {
    height: 823px;
    width: 411px;
    background-color: #524d4d;
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-image: url(../resources/images/wake-up-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#time {
    font-family: 'Share Tech Mono', monospace;
    font-size: 52px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, .1);
    width: calc(100% - 50px);
    border-radius: 0 20px 20px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.small-data {
    font-family: 'Share Tech Mono', monospace;
    font-size: 22px;
}

.flex {
    display: flex;
}

.flex>div {
    flex: auto;
}

.flex>div.no-grow {
    flex: none;
}

.button {
    background: linear-gradient(to bottom, #f0f3f7, #e1e6ed 100%);
    border-radius: 28px;
    border: 1px solid #d8e1ed;
    display: inline-block;
    cursor: pointer;
    color: #8ea3bf;
    font-family: Arial;
    font-size: 19px;
    padding: 16px 31px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .5s;
}

.button:focus {
    outline: none;
}

.button:hover {
    background: linear-gradient(to bottom, #e1e6ed, #f0f3f7 100%);
    ;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 29px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
}

@keyframes pulsate {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(174, 186, 248, 1);
    }
    100% {
        box-shadow: 0px 0px 20px 20px rgba(174, 186, 248, 1);
        ;
    }
}

.pulsate-button {
    animation: pulsate 1.5s ease-out !important;
    animation-direction: alternate !important;
    animation-iteration-count: infinite !important;
}

.plain-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
    font-size: 17px;
    min-height: 52px;
    min-width: 52px;
}

.plain-button i.material-icons, button i.material-icons {
    font-size: 20px;
}

.plain-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:active {
    position: relative;
    top: 1px;
}

#app-content {
    position: fixed;
    width: 411px;
}

#edit-alarms {
    display: block;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

#stop-alarm {
    display: block;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    visibility: collapse;
}

#modal {
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    max-width: 362px;
    min-height: 200px;
    top: -100%;
    left: 50%;
    color: rgba(0, 0, 0, 0.8);
    transition: all .5s ease-out;
    opacity: 0;
    transform: scale(.26) translateX(-50%);
    transform-origin: 0%;
    z-index: 2;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.tab {
    padding: 10px;
}

#modal.show {
    opacity: 1;
    top: 33px;
    transform: scale(1) translateX(-50%);
}

.day {
    background-color: #787878;
    color: #fff;
    height: 26px;
    width: 35px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
}

#analog-clock-container {
    width: 100%;
    max-width: 200px;
    display: table;
    margin: 0 auto;
    margin-bottom: 130px;
}

.block {
    display: block;
    width: 100%;
}

.check-label {
    display: inline-block;
    min-width: 111px;
}

@keyframes collapse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes expand {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.collapse {
    animation: collapse .5s;
}

.expand {
    animation: expand .5s;
}

.top-margin-20 {
    margin-top: 20px;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

.day.selected {
    background-color: #44c767;
}

#alarm-item-container>div {
    border-bottom: 1px dotted;
    padding-bottom: 10px;
    padding-top: 10px;
}

#alarm-item-container>div:first-child {
    border-top: 1px dotted;
}

#alarm-item-container>div:last-child {
    border-bottom: none;
}

#modal-backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .01);
}

#modal-backdrop.show {
    width: 100%;
    height: 100%;
    display: initial;
}

#tab-container {
    width: 200%;
    display: flex;
    transition: transform .5s ease-out;
}

#tab-container.tab2 {
    transform: translateX(-50%);
}

#tab-container.tab2 .tab1 {
    visibility: collapse;
    height: 0;
    overflow: hidden;
}

#tab-container:not(.tab2) .tab2 {
    visibility: collapse;
    height: 0;
    overflow: hidden;
}

#tab-container>div {
    flex: 1;
}

@keyframes pan {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translate(10%);
    }
}

#wakeUpVideo {
    min-height: 100%;
    display: none;
    /* animation: pan 31s ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

#videoDiv {
    width: 100%;
    height: 100%;
    position: relative;
}

#videoBlock {
    width: 411px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#videoMessage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#videoMessage {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    color: white;
    z-index: 1;
}

@media(max-width: 768px) {
    body {
        margin: 0;
    }
    #phone-space {
        display: block;
        margin: 0;
        box-shadow: none;
        width: 100%;
        height: 100vh;
    }
}